@page
@model IndexModel


<section class="banner banner_3" style="background:  url('@Url.Content("https://alumni.arizona.edu/sites/default/files/styles/az_large/public/2022-07/is_your_idea_innovative.jpeg.webp?itok=F6C-r8q2")');">
    <div class="banner_3_overlay">
        <div class="container container_large">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-7 col-lg-8 wow fadeInUp">
                    <div class="banner_text">
                        <h5>Welcome to our sharing startup ideas platform </h5>
                        <h1>Many Interesest And Unique Ideas</h1>
                        <p>

                            Search, develop, share and invest in potential ideas
                        </p>
                        <a class="common_btn" href="menu_03.html">
                            View Details <i class="far fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--==========================
    MENU ITEM 3 END
===========================-->
<!--==========================
    COUNTER START
===========================-->
<section class="counter_area mt_120 xs_mt_100">
    <div class="container">
        <div class="counter_bg pt_30 pb_35">
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeinup">
                    <div class="single_counter">
                        <h2 class="counter">@Model.CountData["numOfInvestor"]</h2>
                        <span>investor</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeinup">
                    <div class="single_counter">
                        <h2 class="counter">@Model.CountData["numOfStartup"]</h2>
                        <span>startup</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeinup">
                    <div class="single_counter">
                        <h2 class="counter">@Model.CountData["numOfIdeaIsSeeking"]</h2>
                        <span>seeking</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeinup">
                    <div class="single_counter">
                        <h2 class="counter">@Model.CountData["numOfIdeaImplement"]</h2>
                        <span>implemented</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
    COUNTER END
===========================-->
<!--==========================
    ABOUT START
===========================-->
<section class="about_us pt_120 xs_pt_100 pb_120 xs_pb_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="about_img">
                            <img src="assetsClient/images/about_img_1.jpg" alt="about us" class="img-fluid w-100">
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInDown">
                        <div class="about_img">
                            <img src="assetsClient/images/about_img_2.jpg" alt="about us" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 m-auto wow fadeInRight">
                <div class="about_text">
                    <div class="section_heading heading_left">
                        <h2>OUR EXCELLENT SERVICE & QUALITY DISHES</h2>
                        <p>Commodo ullamcorper lacus vestibulum sed Non blandit massa enim.</p>
                    </div>
                    <ul>
                        <li>Donec convallis vestibulum eget pharetra.</li>
                        <li>Bignissim posuere. Suspendisse elementum quam</li>
                        <li>Eget convallis erat sollicitudin pellentesque orci.</li>
                    </ul>
                    <div class="about_text_footer">
                        <div class="img">
                            <img src="assetsClient/images/about_ceo_img.jpg" alt="about" class="img-fluid w-100">
                        </div>
                        <div class="text">
                            <h4>Dylan Meringue</h4>
                            <p>CEO</p>
                        </div>
                        <div class="signature">
                            <img src="assetsClient/images/about_ceo_signature.png" alt="about" class="img-fluid w-100">
                        </div>
                    </div>
                    <a class="common_btn" href="about_us_02.html">
                        View Details <i class="far fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
    MENU ITEM 4 END
===========================-->

<!--==========================
    CHEFS 3 START
===========================-->
<section class="chefs_3 mt_110 xs_mt_90">
    <div class="container">
        <div class="row wow fadeInLeft">
            <div class="col-xl-8">
                <div class="section_heading heading_left mb_25">
                    <h2>Some Prominent Investor</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var topInvestor in Model.TopInvestors)
            {
                <div class="col-xl-3 col-sm-6 col-lg-4 wow fadeInUp">
                    <div class="single_chef_3">
                        <div class="single_chef_3_img">
                            <img src="@topInvestor.AvatarUrl" alt="Chef" class="img-fluid w-100">
                            <div class="social_icon">
                                <ul>
                                    <li><a class="facebook" href="@topInvestor.FacebookUrl"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="@topInvestor.TwitterUrl"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="@topInvestor.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <span><i class="far fa-share-alt"></i></span>
                            </div>
                        </div>
                        <div class="single_chef_text_3">
                            <a class="title" href="chefs_details.html">@topInvestor.Displayname</a>
                            <p>@topInvestor.Email</p>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>
<!--==========================
    CHEFS 3 END
===========================-->
<!--==========================
    BLOG START
===========================-->
<section class="blog pt_100 xs_pt_80">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xl-8 m-auto">
                <div class="section_heading mb_25">
                    <h2>Lastest New Ideas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var newIdeas in Model.NewIdeas)
            {
                <div class="col-lg-4 col-sm-6 wow fadeInUp">
                    <div class="single_blog">
                        <div class="single_blog_img">
                            <img src="@newIdeas.PosterImg" alt="blog" class="img-fluid w-100">
                            <a class="category" href="#">@newIdeas.Category?.Name</a>
                        </div>
                        <div class="single_blog_text">
                            <ul>
                                <li>
                                    <span><img src="assetsClient/images/calendar.svg" alt="calendar" class="img-fluid"></span>
                                    @newIdeas.CreatedAt?.ToString("MM/dd/yyyy")
                                </li>
                                <li>BY @newIdeas.User?.Displayname</li>
                            </ul>
                            <a class="title" href="@Url.Page("IdeaDetails", new { id = newIdeas.IdeaId })">
                                @newIdeas.Title
                            </a>
                            <a class="read_btn" href="@Url.Page("IdeaDetails", new { id = newIdeas.IdeaId })">
                                Read More <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            

        </div>
    </div>
</section>
<!--==========================
    BLOG END
===========================-->

