@page
@model SSI.Pages.ManageRequestInvestorModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!--==========================
        BREADCRUMB AREA START
    ===========================-->
<section class="breadcrumb_area" style="background: url(assetsClient/images/breadcrumb_bg.jpg);">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-12">
                <div class="breadcrumb_text">
                    <h1>dashboard order</h1>
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#">dashboard order</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
    BREADCRUMB AREA END
===========================-->
<!--=========================
    DASHBOARD ORDER START
==========================-->
<section class="dashboard pt_120 xs_pt_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">
                        <div class="img">
                            <img src="assetsClient/images/dashboard_user_img.png" alt="dashboard" class="img-fluid w-100">
                            <label for="profile_photo"><i class="far fa-camera"></i></label>
                            <input type="file" id="profile_photo" hidden>
                        </div>
                        <h3>Addition Smith</h3>
                        <p>Paris, France</p>
                    </div>
                    <div class="dashboard_sidebar_menu">
                        <ul>
                            <li><a href="dashboard.html"><i class="fas fa-user"></i> Personal Info</a></li>
                            <li>
                                <a href="dashboard_address.html"><i class="fas fa-clipboard-list"></i> address</a>
                            </li>
                            <li>
                                <a class="active" href="dashboard_order.html">
                                    <i class="fas fa-shopping-basket"></i>
                                    Order
                                </a>
                            </li>
                            <li><a href="dashboard_review.html"><i class="fas fa-star"></i> Reviews</a></li>
                            <li><a href="dashboard_wishlist.html"><i class="fas fa-heart"></i> Wishlist</a></li>
                            <li>
                                <a href="dashboard_change_password.html">
                                    <i class="fas fa-key"></i> Change
                                    Password
                                </a>
                            </li>
                            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight">
                <div class="dashboard_content">
                    <h2 class="dashboard_title">Transaction History</h2>
                    <div class="dashboard_order">
                        <div class="table-responsive">
                            @if (Model.InvestmentRequests != null && Model.InvestmentRequests.Any())
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Request ID</th>
                                            <th>Idea</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Equity Percentage</th>
                                            <th>Investment Period</th>
                                            <th>Created At</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var investReq in Model.InvestmentRequests)
                                        {
                                            <tr>
                                                <td>@investReq.RequestId</td>
                                                <td>@investReq.IdeaId</td>
                                                <td>@investReq.Amount</td>
                                                <td>@investReq.Status</td>
                                                <td>@investReq.EquityPercentage</td>
                                                <td>@investReq.InvestmentPeriod</td>
                                                <td>@investReq.CreatedAt</td>
                                                <td>@investReq.Description</td>
                                                <td>
                                                    

                                                    
                                                    @if (investReq.Status == "pending")
                                                    {
                                                        <form method="get" action="EditInvestmentRequest">
                                                            <input type="hidden" name="RequestId" value="@investReq.RequestId"/>
                                                            <button type="submit" class="btn btn-danger">Update</button>
                                                        </form>
                                                        <form method="post" asp-action="ManageRequestInvestor" asp-route-id="@investReq.RequestId" onsubmit="return confirm('Are you sure you want to delete this request?');">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    }
                                                 
                                                    @if (investReq.Status == "approved")
                                                    {
                                                        <a href="/Payment/@investReq.RequestId" class="btn btn-success">Thanh toán</a>
                                                    }
                                                    @if (investReq.Status == "approved" || investReq.Status == "completed")
                                                    {
                                                        <a href="/RequestDetails/@investReq.RequestId" class="btn btn-primary">View Detail</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No investment request found.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    DASHBOARD ORDER END
==========================-->
