@page 
@model SSI.Pages.ManageRequestFounderModel
@{
    Layout = "_LayoutUserDashboard";
}
<head>
    <style>
        .idea-status {
            display: inline-block;
            margin-left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            text-transform: capitalize;
        }

        .idea-status.pending {
                background-color: #e0f0ff;
                color: #007bff;
        }

            .idea-status.approved {
                background-color: #e0ffe0;
                color: #28a745;
            }

            .idea-status.rejected {
                background-color: #ffe0e0;
                color: #dc3545;
            }
    </style>
</head>
<div class="col-xl-9 col-lg-8 wow fadeInRight">
    <div class="dashboard_content">
        <h2 class="dashboard_title">List Request</h2>
        <div class="dashboard_reviews">
            @if (Model.InvestmentRequests != null && Model.InvestmentRequests.Any())
            {
                @foreach (var request in Model.InvestmentRequests)
                {
                    <div class="single_review">
                        <div class="img">
                            <img src="~/assetsClient/images/client_img_2.png" alt="Reviewer" class="img-fluid w-100">
                        </div>
                        <div class="text">
                            
                                <h4>
                                <a href="/FounderRequestDetails?RequestId=@request.RequestId">
                                        @request.Idea.Title
                                    </a>
                                    <br />
                                    <span class="idea-status @request.Status.ToLower()">@request.Status</span>
                                </h4>
                                <span>@request.CreatedAt</span>
                                <p>@request.EquityPercentage%</p>
                            
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center">
                    <h3>No request available</h3>
                </div>
            }

        </div>
    </div>
</div>
