@page
@using SSI.Models
@model SSI.Pages.Ideas.IdeaDetailsModel
@{
}
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@{
    var sortedIdeaDetails = Model.Idea.Ideadetails.OrderBy(detail => detail.CreatedAt).ToList();
    int updateCount = 1; 
    var selectedMilestone = ViewData["SelectedMilestone"] as Ideadetail;
}

<section class="breadcrumb_area" style="background: url('@Url.Content("https://alumni.arizona.edu/sites/default/files/styles/az_large/public/2022-07/is_your_idea_innovative.jpeg.webp?itok=F6C-r8q2")');">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-12">
                <div class="breadcrumb_text">
                    <h1>Idea details</h1>
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#">Idea details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
    BREADCRUMB AREA END
===========================-->
<!--=========================
    MENU DETAILS START
==========================-->
<section class="menu_details pt_120 xs_pt_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-8 col-lg-5 wow fadeInLeft">
                <div class="menu_det_slider_area sticky_sidebar">
                    <div class="row">
                        <!-- Large image display area, initially showing the first image -->
                        <div class="col-12">
                            <div class="details_large_img">
                                <img id="largeImage" src="@Model.Idea.Ideadetails.FirstOrDefault()?.Images.FirstOrDefault()?.Url" alt="slider" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>

                    <div class="row slider-nav mt-3">
                        @if (Model.SelectedMilestone != null)
                        {
                            @foreach (var image in Model.SelectedMilestone.Images)
                            {
                                <div class="col-xl-3 col-4">
                                    <div class="details_small_img">
                                        <img src="@image.Url" alt="slider" class="img-fluid w-100 thumbnail-image" data-large="@image.Url">
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var detail in Model.Idea.Ideadetails)
                            {
                                @foreach (var image in detail.Images)
                                {
                                    <div class="col-xl-3 col-4">
                                        <div class="details_small_img">
                                            <img src="@image.Url" alt="slider" class="img-fluid w-100 thumbnail-image" data-large="@image.Url">
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-8 col-lg-7 wow fadeInUp">
                <div class="menu_det_text">
                    <h2 class="details_title">@Model.Idea.Title</h2>
                    <p class="rating">
                        <span>Comments (@Model.CommentCount)</span>
                    </p>
                    <div class="details_short_description">
                        <h3>Description</h3>
                        <p>
                            @Model.Idea.Description
                        </p>
                    </div>
                    @if (Model.SelectedMilestone != null)
                    {
                        <div class="details_short_description">
                        <h3>Milestone Content</h3>
                        <p>@Model.SelectedMilestone.Content</p>
                        </div>
                    }

                    <div class="details_cart_btn">
                        <a class="common_btn" href="#">
                            <span class="icon">
                                <img src="~/assetsClient/images/dau-tu.jpg" alt="order" class="img-fluid w-100">
                            </span>
                            Invest
                        </a>
                        <a class="love" href="#"><i class="far fa-heart"></i></a>
                    </div>
                    <ul class="share">
                        <li>Share with friends:</li>
                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-8 d-lg-none d-xl-block wow fadeInRight">
                <div class="sticky_sidebar">
                    <div class="menu_details_offer">
                        <p>Created By @Model.Idea.User.Displayname at @Model.Idea.CreatedAt</p>
                    </div>
                </div>
                <div class="sticky_sidebar">
                    <div class="menu_details_offer">
                        @foreach (var detail in sortedIdeaDetails)
                        {
                            <form method="post" asp-page-handler="Milestone">
                                <input type="hidden" name="milestoneId" value="@detail.IdeaDetailId" />
                                <input type="hidden" name="ideaId" value="@Model.Idea.IdeaId" /> 
                                <button type="submit" class="milestone-button">@($"Milestone {updateCount}")</button>
                            </form>

                            <br />
                            updateCount++;
                        }
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row mt_120 xs_mt_100 wow fadeInUp">
            <div class="col-12">
                <div class="menu_det_content_area">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">
                                Reviews
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-contact" role="tabpanel"
                             aria-labelledby="nav-contact-tab" tabindex="0">
                            <div class="menu_det_review_area">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h2>(@Model.CommentCount) Reviews</h2>
                                        @foreach (var comment in (Model.SelectedMilestone != null ? Model.MilestoneComments : Model.Comments)
                                        .Where(c => c.ParentId == null)  
                                        .Skip((Model.CurrentPage - 1) * Model.CommentsPerPage)
                                        .Take(Model.CommentsPerPage))
                                        {
                                            <div class="single_review">
                                                @if (comment.User.AvatarUrl!=null)
                                                {
                                                    <div class="img">
                                                        <img src="@comment.User.AvatarUrl" alt="Reviewer" class="img-fluid w-100">
                                                    </div>
                                                }                                               
                                                <div class="text">
                                                        <h4>@(comment.User?.Displayname ?? "Unknown User")<span>@comment.CreatedAt</span></h4>
                                                        <p>@comment.Content</p>
                                                        <button class="reply-button" data-comment-id="@comment.CommentId"><i class="far fa-reply">Reply</i></button>
                                                   
                                                    <!-- Form trả lời bình luận -->
                                                    <div class="reply-form" id="reply-form-@comment.CommentId" style="display:none;">
                                                        <form method="post" asp-page-handler="SubmitReply">
                                                            <div class="review_input_box">
                                                                <label>Write Your Reply *</label>
                                                                <textarea rows="2" name="ReplyContent" required></textarea>
                                                            </div>
                                                            <input type="hidden" name="ParentId" value="@comment.CommentId" />
                                                            <input type="hidden" name="IdeaDetailId" value="@comment.IdeaDetailId" />
                                                            <input type="hidden" name="IdeaId" value="@Model.Idea.IdeaId" />
                                                            <button type="submit" class="common_btn">Submit Reply</button>
                                                        </form>
                                                    </div>

                                                    <!-- Hiển thị các câu trả lời cho bình luận -->
                                                    @if (comment.InverseParent != null && comment.InverseParent.Any())
                                                    {
                                                        <div class="replies">
                                                            @foreach (var reply in comment.InverseParent)
                                                            {
                                                                <div class="reply">
                                                                    @if (reply.User.AvatarUrl != null)
                                                                    {
                                                                        <div class="img">
                                                                            <img src="@reply.User.AvatarUrl" class="img-fluid">
                                                                        </div>
                                                                    }                                                                   
                                                                    <div class="text">
                                                                        <h5>@(reply.User?.Displayname ?? "Unknown User") replyed @reply.ParentId <span>@reply.CreatedAt</span></h5>
                                                                        <p>@reply.Content</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                        <!-- Pagination Buttons -->
                                        <div class="pagination">
                                            @for (int i = 1; i <= Model.TotalPages; i++)
                                            {
                                                <form method="post" asp-page-handler="ChangePage" class="d-inline">
                                                    <input type="hidden" name="milestoneId" value="@(Model.SelectedMilestone?.IdeaDetailId ?? 0)" />
                                                    <input type="hidden" name="ideaId" value="@Model.Idea.IdeaId" />
                                                    <input type="hidden" name="page" value="@i" />
                                                    <button type="submit" class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-light")">
                                                        @i
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-4">
                                        <div class="review_input_area">
                                            <h2>Write A Review</h2>
                                            <form method="post" asp-page-handler="SubmitReview">
                                                <div class="review_input_box">
                                                    <label>Write Review *</label>
                                                    <textarea rows="5" name="ReviewContent" required></textarea>
                                                </div>
                                                <input type="hidden" name="milestoneId" value="@selectedMilestone?.IdeaDetailId" />
                                                <input type="hidden" name="IdeaId" value="@Model.Idea.IdeaId" />
                                                <button type="submit" class="common_btn">Submit Review</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    MENU DETAILS END
==========================-->
<!--=========================
    RELATED MENU START
==========================-->
<section class="related_menu pt_105 xs_pt_85">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xl-5">
                <div class="section_heading heading_left mb_25">
                    <h2>Related food</h2>
                </div>
            </div>
        </div>
        <div class="row related_slider">
            <div class="col-xl-3 wow fadeInUp">
                <div class="single_menu">
                    <div class="single_menu_img">
                        <img src="assets/images/menu_img_1.jpg" alt="menu" class="img-fluid w-100">
                        <ul>
                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="single_menu_text">
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <a class="category" href="#">Chicken</a>
                        <a class="title" href="menu_details.html">Daria Shevtsova</a>
                        <p class="descrption">Homemade pizza crust, pizza sauce</p>
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add
                                To Cart
                            </a>
                            <h3>$40 <del>$50</del></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow fadeInUp">
                <div class="single_menu">
                    <div class="single_menu_img">
                        <img src="assets/images/menu_img_2.jpg" alt="menu" class="img-fluid w-100">
                        <ul>
                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="single_menu_text">
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <a class="category" href="#">Biryani</a>
                        <a class="title" href="menu_details.html">Hyderabadi Biryani</a>
                        <p class="descrption">Homemade pizza crust, pizza sauce</p>
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add
                                To Cart
                            </a>
                            <h3>$30 <del>$45</del></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow fadeInUp">
                <div class="single_menu">
                    <div class="single_menu_img">
                        <img src="assets/images/menu_img_3.jpg" alt="menu" class="img-fluid w-100">
                        <ul>
                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="single_menu_text">
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <a class="category" href="#">Burger</a>
                        <a class="title" href="menu_details.html">Spicy Burger</a>
                        <p class="descrption">Homemade pizza crust, pizza sauce</p>
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add
                                To Cart
                            </a>
                            <h3>$59 <del>$65</del></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow fadeInUp">
                <div class="single_menu">
                    <div class="single_menu_img">
                        <img src="assets/images/menu_img_4.jpg" alt="menu" class="img-fluid w-100">
                        <ul>
                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="single_menu_text">
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <a class="category" href="#">Pizza</a>
                        <a class="title" href="menu_details.html">Mexican Pizza</a>
                        <p class="descrption">Homemade pizza crust, pizza sauce</p>
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add
                                To Cart
                            </a>
                            <h3>$36 <del>$40</del></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 wow fadeInUp">
                <div class="single_menu">
                    <div class="single_menu_img">
                        <img src="assets/images/menu_img_5.jpg" alt="menu" class="img-fluid w-100">
                        <ul>
                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                            <li><a href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="single_menu_text">
                        <p class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <a class="category" href="menu_details.html">Kabab</a>
                        <a class="title" href="#">Mozzarella Sticks</a>
                        <p class="descrption">Homemade pizza crust, pizza sauce</p>
                        <div class="d-flex flex-wrap align-items-center">
                            <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add
                                To Cart
                            </a>
                            <h3>$20 <del>$30</del></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // JavaScript/jQuery to handle thumbnail clicks and update the large image
        document.addEventListener("DOMContentLoaded", function () {
            // Add click event listeners to all thumbnail images
            document.querySelectorAll('.thumbnail-image').forEach(thumbnail => {
                thumbnail.addEventListener('click', function () {
                    // Update the src of the large image with the clicked thumbnail's data-large attribute
                    const largeImage = document.getElementById('largeImage');
                    largeImage.src = this.getAttribute('data-large');
                });
            });
            document.querySelectorAll('.reply-button').forEach(button => {
                button.addEventListener('click', function () {
                    const commentId = this.getAttribute('data-comment-id');
                    const replyForm = document.getElementById(`reply-form-${commentId}`);
                    if (replyForm) {
                        replyForm.style.display = replyForm.style.display === 'block' ? 'none' : 'block';
                    }
                });
            });
        });
    </script>
</section>


