@page "{id:int}"
@using Microsoft.AspNetCore.Html
@model SSI.Pages.Ideas.StartupIdeaMilestoneDetailsModel
@{
    ViewData["Title"] = "Milestone Details";
    Layout = "/Pages/Shared/_Layout.cshtml";
    @functions {
        private IHtmlContent DisplayReplies(ICollection<SSI.Models.Comment> replies)
        {
            var content = new HtmlContentBuilder();

            foreach (var reply in replies)
            {
                content.AppendHtml($@"
                <div class='single_review reply'>
                    <div class='img'>
                        <img src='~/assetsClient/images/client_img_2.png' alt='Reviewer' class='img-fluid w-100'>
                    </div>
                    <div class='text'>
                        <h4>{reply.User.Displayname} <span>{reply.CreatedAt}</span></h4>
                        <p>{reply.Content}</p>
                        <a href='#'><i class='far fa-reply'></i> Reply</a>
                    </div>
                </div>
            ");

                // Recursively display replies of the current reply
                content.AppendHtml(DisplayReplies(reply.InverseParent));
            }

            return content;
        }
    }
}
<section class="blog_details mt_120 xs_mt_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
                <div class="blog_details_img">
                    <img src="@Model.Idea?.PosterImg" alt="Image for @Model.Idea?.Title" class="img-fluid w-100">
                </div>
                <div class="blog_details_text">
                    <h2>@Model.Idea?.Title</h2>
                    <p>@Model.Idea?.Description</p>
                    @if (Model.MilestoneDetail != null)
                    {
                        <div class="col-lg-8 wow fadeInLeft">
                            <div class="blog_details_text">
                                <p>@Model.MilestoneDetail.Content</p>
                            </div>
                            <div class="blog_details_img">
                                @foreach (var image in Model.MilestoneDetail.Images)
                                {
                                    <img src="@image.Url" alt="Image for @Model.Idea?.Title" class="img-fluid w-100">
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="blog_det_comment_area menu_det_review_area mt_80">
                    <h2>(@Model.MilestoneDetail?.Comments.Count) Comments</h2>

                    @foreach (var comment in @Model.MilestoneDetail?.Comments ?? Enumerable.Empty<SSI.Models.Comment>())
                    {
                        <div class="single_review">
                            <div class="img">
                                <img src="~/assetsClient/images/client_img_1.png" alt="Reviewer" class="img-fluid w-100">
                            </div>
                            <div class="text">
                                <h4>@comment.User.Displayname <span>@comment.CreatedAt</span></h4>
                                <p>@comment.Content</p>
                                <a href="#"><i class="far fa-reply"></i> Reply</a>
                            </div>
                        </div>
                        @DisplayReplies( comment.InverseParent)
                    }

                    <!-- Pagination controls -->
                    <nav aria-label="Comment pagination">
                        <ul class="pagination">
                            @if (@Model.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Page("StartupIdeaMilestoneDetails", new { id = @Model.MilestoneDetail?.IdeaDetailId, ideaId = @Model.Idea?.IdeaId, page = @Model.CurrentPage - 1 })">Previous</a>
                                </li>
                            }

                            @for (int i = 1; i <= @Model.TotalPages; i++)
                            {
                                <li class="page-item @(@Model.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Page("StartupIdeaMilestoneDetails", new { id = @Model.MilestoneDetail?.IdeaDetailId, ideaId = @Model.Idea?.IdeaId, page = i })">@i</a>
                                </li>
                            }

                            @if (@Model.CurrentPage < @Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Page("StartupIdeaMilestoneDetails", new { id = @Model.MilestoneDetail?.IdeaDetailId, ideaId = @Model.Idea?.IdeaId, page = @Model.CurrentPage + 1 })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 wow fadeInRight">
                <div class="blog_sidebar sticky_sidebar">
                    <div class="sidebar_wizard sidebar_category mt_25">
                        <h2>Milestones</h2>

                        <!-- Update Milestone Button with ideaId -->
                        @if(Model.Idea?.Status.ToLower() == "approved")
                        {
                            <div class="text-right mb-3">
                                <a asp-page="/Ideas/UpdateIdeaDetails" asp-route-id="@Model.MilestoneDetail?.IdeaDetailId" asp-route-ideaId="@Model.Idea?.IdeaId" class="btn btn-primary">
                                    Update Milestone
                                </a>
                            </div>
                        }
                        

                        <ul>
                            @if (Model.Idea != null && Model.Idea.Ideadetails.Any())
                            {
                                int milestoneNumber = 1;
                                // Sort milestones by CreatedAt in ascending order
                                foreach (var detail in Model.Idea.Ideadetails.OrderBy(d => d.CreatedAt))
                                {
                                    <li>
                                        <a href="@Url.Page("StartupIdeaMilestoneDetails", new { id = detail.IdeaDetailId, ideaId = Model.Idea?.IdeaId })">
                                            Milestone @milestoneNumber: @detail.CreatedAt?.ToString("MMMM dd, yyyy")
                                        </a>
                                    </li>
                                    milestoneNumber++;
                                }
                            }
                            else
                            {
                                <li>No milestones available</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
