@page
@model SSI.Pages.Ideas.StartupIdeaListModel
@{
    Layout = "_LayoutUserDashboard";
}
<head>
    <style>
        .idea-status {
            display: inline-block;
            margin-left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            text-transform: capitalize;
        }

            .idea-status.pending {
                background-color: #e0f0ff;
                color: #007bff;
            }

            .idea-status.approved {
                background-color: #e0ffe0;
                color: #28a745;
            }

            .idea-status.rejected {
                background-color: #ffe0e0;
                color: #dc3545;
            }
    </style>
</head>
<div class="col-xl-9 col-lg-8 wow fadeInRight">
    <div class="dashboard_content">
        <h2 class="dashboard_title">Ideas List</h2>
        <div class="text-right mb-4">
            <a href="@Url.Page("CreateIdea", new { userId = Model.userViewModel.UserId })" class="btn btn-primary">
                <i class="fas fa-plus"></i> Create New Idea
            </a>
        </div>
        <div class="dashboard_reviews">
            @if (Model.Ideas.Any())
            {
                @foreach (var idea in Model.Ideas)
                {
                    <div class="single_review">
                        <div class="img">
                            <img src="~/assetsClient/images/client_img_2.png" alt="Reviewer" class="img-fluid w-100">
                        </div>
                        <div class="text">
                            <h4>
                                <a href="@Url.Page("StartupIdeaDetails", new { id = idea.IdeaId })">
                                    @idea.Title
                                </a>

                                <br />
                                <span class="idea-status @idea.Status.ToLower()">@idea.Status</span>

                            </h4>
                            <span>@idea.CreatedAt</span>
                            <h5>@idea.Category.Name</h5>
                            <p>@idea.Description</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center">
                    <h3>No ideas available</h3>
                </div>
            }


            <div class="pagination_area mt_30">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item ">
                            <a class="page-link @(Model.PageNumber <= 1 ? "disabled" : "")" href="?userId=@Model.userViewModel.UserId&pageNumber=@(Model.PageNumber - 1)" aria-label="Previous">
                                <i class="far fa-arrow-left"></i>
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a class="page-link @(i == Model.PageNumber ? "active" : "")" href="?userId=@Model.userViewModel.UserId&pageNumber=@i">@i</a>
                            </li>
                        }
                        <li class="page-item ">
                            <a class="page-link @(Model.PageNumber >= Model.TotalPages ? "disabled" : "")" href="?userId=@Model.userViewModel.UserId&pageNumber=@(Model.PageNumber + 1)" aria-label="Next">
                                <i class="far fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>