@page "{id:int}"
@model SSI.Pages.Ideas.StartupIdeaDetailsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Idea Details";
}
<section class="blog_details mt_120 xs_mt_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 wow fadeInLeft">
                <div class="blog_details_img">
                    <img src="@Model.Idea?.PosterImg" alt="Image for @Model.Idea?.Title" class="img-fluid w-100">
                </div>
                <div class="blog_details_text">
                    <h2>@Model.Idea?.Title</h2>
                    <p>
                        @Model.Idea?.Description
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 wow fadeInRight">
                <div class="blog_sidebar sticky_sidebar">
                    <div class="sidebar_wizard sidebar_category mt_25">
                        <h2>Milestones</h2>
                        <ul>
                            @if (Model.Idea != null && Model.Idea.Ideadetails.Any())
                            {
                                int milestoneNumber = 1;
                                foreach (var detail in Model.Idea.Ideadetails)
                                {
                                    <li>
                                        <a href="@Url.Page("StartupIdeaMilestoneDetails", new { id = detail.IdeaDetailId, ideaId = Model.Idea.IdeaId })">
                                            Milestone @milestoneNumber: @detail.CreatedAt?.ToString("MMMM dd, yyyy")
                                        </a>
                                    </li>
                                    milestoneNumber++;
                                }
                            }
                            else
                            {
                                <li>No milestones available</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
